// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "kern" on;
  font-variant-ligatures: common-ligatures;
  text-rendering: optimizeLegibility;
}

body {
  font-family: $base-font-family;
}

h1, h2, h3, h4, h5 {
  font-family: $head-font-family;
  font-weight: 700;
  // to adjust for monospace font
  letter-spacing: -0.025em;
}

// To prevent superscript increasing the line height
sup { vertical-align: top; font-size: 0.8em; }

pre,
code {
  border: none;
  border-radius: 0px;
}

.site-header {
  border-top: none;
  border-bottom: none;
}

.post-meta {
  color: $text-color-light;
}

blockquote {
  border-left: 4px solid transparent;
  color: $text-color-light;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
}

.site-nav {
  font-family: $head-font-family;
  .page-link {
    color: $text-color-light;
    font-weight: 700;
  }
}

.site-title {
  font-family: $head-font-family;
  font-weight: 700;
  color: $text-color-light;

  &:visited {
    color: $text-color-light;
  }
}

div.home > .page-heading {
  display: none;
}

.site-footer {
  border-top: 1px solid transparent;
}

.post-link {
  &:visited {
    color: $brand-color-primary;
  }
}

.post-content {
  h2, h3, h4 {
    margin-top: 30px;
  }
}

.social-media-list {
  li {
    a {
      border: 1px solid transparent;
      &:hover { border-color: transparent; }
    }
  }
}

.my-picture {
    float: right;
    margin: 0 0 5% 5%;
    width: clamp(100px, 200px, 50%);
}

.footnotes {
    border-top: 1px solid $text-color-light;
    padding-top: $spacing-unit;
    color: $text-color-light;
    font-size: 16px;
}

h1, h2, h3,
h4, h5, h6 {
  &:hover {
    .anchor {
      opacity: 1;
    }
  }

  .anchor {
    opacity: 0;
  }
}

.toc {
    h3 {
        text-align: center;
    }
    padding: 0 1em 1em 1em;
    margin: 5% 10%;
    background-color: $note-background-color;
}
