// Placeholder to allow overriding predefined variables smoothly.
$base-font-family: "IBM Plex Sans", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Segoe UI Symbol", "Segoe UI Emoji", "Apple Color Emoji", Roboto, Helvetica, Arial, sans-serif;
$code-font-family: "IBM Plex Mono", "Roboto Mono", "Ubuntu Mono", "Liberation Mono", "Courier New", monospace;
$serif-font-family: "IBM Plex Serif", charter, Georgia, Cambria, "Times New Roman", Times, serif;
