@charset "utf-8";

html {
    @import "minima/skins/arie-light";
    --brand-color:           #{$brand-color};
    --brand-color-primary:   #{$brand-color-primary};
    --brand-color-secondary: #{$brand-color-secondary};

    --site-title-color:      #{$site-title-color};

    --text-color:            #{$text-color};
    --text-color-light:      #{$text-color-light};
    --background-color:      #{$background-color};
    --code-background-color: #{$code-background-color};
    --note-background-color: #{$note-background-color};

    --link-base-color:       #{$link-base-color};
    --link-visited-color:    #{$link-visited-color};
    --link-hover-color:      #{$link-hover-color};

    --border-color-01:       #{$border-color-01};
    --border-color-02:       #{$border-color-02};
    --border-color-03:       #{$border-color-03};

    --table-text-color:      #{$table-text-color};
    --table-zebra-color:     #{$table-zebra-color};
    --table-header-bg-color: #{$table-header-bg-color};
    --table-header-border:   #{$table-header-border};
    --table-border-color:    #{$table-border-color};
}

@media (prefers-color-scheme: dark) {
  html {
    @import "minima/skins/arie-dark";
    --brand-color:           #{$brand-color};
    --brand-color-primary:   #{$brand-color-primary};
    --brand-color-secondary: #{$brand-color-secondary};

    --site-title-color:      #{$site-title-color};

    --text-color:            #{$text-color};
    --text-color-light:      #{$text-color-light};
    --background-color:      #{$background-color};
    --code-background-color: #{$code-background-color};
    --note-background-color: #{$note-background-color};

    --link-base-color:       #{$link-base-color};
    --link-visited-color:    #{$link-visited-color};
    --link-hover-color:      #{$link-hover-color};

    --border-color-01:       #{$border-color-01};
    --border-color-02:       #{$border-color-02};
    --border-color-03:       #{$border-color-03};

    --table-text-color:      #{$table-text-color};
    --table-zebra-color:     #{$table-zebra-color};
    --table-header-bg-color: #{$table-header-bg-color};
    --table-header-border:   #{$table-header-border};
    --table-border-color:    #{$table-border-color};
  }
}


$brand-color:           var(--brand-color);
$brand-color-primary:   var(--brand-color-primary);
$brand-color-secondary: var(--brand-color-secondary);

$site-title-color:      var(--site-title-color);

$text-color:            var(--text-color);
$text-color-light:      var(--text-color-light);
$background-color:      var(--background-color);
$code-background-color: var(--code-background-color);
$note-background-color: var(--note-background-color);

$link-base-color:       var(--link-base-color);
$link-visited-color:    var(--link-visited-color);
$link-hover-color:      var(--link-hover-color);

$border-color-01:       var(--border-color-01);
$border-color-02:       var(--border-color-02);
$border-color-03:       var(--border-color-03);

$table-text-color:      var(--table-text-color);
$table-zebra-color:     var(--table-zebra-color);
$table-header-bg-color: var(--table-header-bg-color);
$table-header-border:   var(--table-header-border);
$table-border-color:    var(--table-border-color);


// Syntax highlighting styles should be adjusted appropriately for every "skin"
// ----------------------------------------------------------------------------
